.bundle/
.yardoc
Gemfile.lock
_yardoc/
coverage/
doc/
pkg/
spec/reports/
tmp/
log/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/
spec/dummy/tmp/
spec/dummy/.sass-cache
.DS_Store
*~
*.sqlite3
rdoc/*
spec/tmp/
